<br><br><br><br><br><div class="historique-container">
  <div class="graph-container">
    <canvas id="graph1" width="250px" height="100px"></canvas>
  </div>
  
  <div class="historique-details">
    <h1>Historique des Tests Théoriques</h1>
    <div class="stats">
      <div class="stats">
        <p><strong>Taux de réussite :</strong> {{ statistiques.tauxReussite }}%</p>
        <p><strong>Tests passés :</strong> {{ statistiques.testsPasses }}</p>
        <p><strong>Score moyen :</strong> 
          <span [ngClass]="{'highlight': statistiques.scoreMoyen < 25}">
            {{ statistiques.scoreMoyen }}/40
          </span>
        </p>
      </div>
      <div *ngIf="statistiques.peutPasserExamen" class="examen-ok">
        ✅ <a routerLink="/rdv" class="rdv-link">Félicitations ! Vous êtes éligible pour passer l'examen. Cliquez ici pour prendre un rendez-vous.</a>
      </div>
      <div *ngIf="!statistiques.peutPasserExamen" class="examen-non">
        ❌ Vous n'êtes pas encore éligible à l'examen. Continuez vos révisions !
      </div>
    </div>
    <br>

    <h2>Derniers tests effectués</h2>
    <br>
    <ul >
      <li *ngFor="let testItem of testsRecents" (click)="afficherDetails(testItem)" class="test-card">
         Test du {{ testItem.date_test }} : {{ testItem.score }}/40
      </li>
    </ul>
  </div>
</div>
