<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Responsive Navbar</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a routerLink="" style="display: inline-block;">
          <img src="../../../assets/Logo.png" alt="logo" style="cursor: pointer;" />
        </a>
      </div>
      <ul *ngIf="!menuOpen">
        <li>
          <a routerLink="/historique">Historique</a>
        </li>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/stats">Statistiques</a>
        </li>
        <li>
          <a routerLink="/support">Support</a>
        </li>
        <li>
          <a routerLink="/admin-profil">Profil</a>
        </li>
        <li>
          <a routerLink="/login" (click)="deconnexion()">Deconnexion</a>
        </li>
      </ul>
      <div class="hamburger" (click)="toggleMenu()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar" [ngClass]="{'active': menuOpen}">
      <ul>
        <li>
          <a routerLink="/historique"  (click)="closeMenu()">Historique</a>
        </li>
        <li>
          <a routerLink="/dashboard"  (click)="closeMenu()">Dashboard</a>
        </li>
        <li>
            <a routerLink="/statistiques"  (click)="closeMenu()">Statistiques</a>
          </li>
        <li>
          <a routerLink="/support"  (click)="closeMenu()">Support</a>
        </li>
        <li>
          <a routerLink="/profil"  (click)="closeMenu()">Profil</a>
        </li>
        <li>
          <a routerLink="/login" (click)="deconnexion()">Deconnexion</a>
        </li>
      </ul>
    </div>
  </body>
</html>
