<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyToDrive - Auto-École</title>
</head>
<body>
    <header class="hero">
        <h1 class="logo">EasyToDrive</h1>
        <p class="description">L'auto-école en ligne qui vous accompagne vers la réussite !</p>
    </header>
    <section class="about-us">
        <div class="ag-format-container">
          <h2 class="section-title">Répartition des tâches</h2>
            <div class="ag-courses_box">
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_title">Développeur<br> Front-End</div><br>
                        <div class="ag-courses-item_date-box"><span class="ag-courses-item_date">Nicolas Buisset</span></div>
                    </a>
                </div>
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_title">UX/UI + Mobile Design</div><br>
                        <div class="ag-courses-item_date-box"><span class="ag-courses-item_date">Sarah Zaiem</span></div>
                    </a>
                </div>
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_title">Dévellppeur Back-end</div><br>
                        <div class="ag-courses-item_date-box"><span class="ag-courses-item_date">Léonardo Henriques</span></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>