/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: white;
  color: rgb(255, 255, 255);
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  position: relative;
  background: url('../../../assets/wallpaper.jpeg') no-repeat center center;
  background-size: cover;
  filter: brightness(70%);
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  animation: fadeIn 2s ease-in-out;
  position: relative;
  z-index: 1;
}

.description {
  font-size: 1.5rem;
  max-width: 600px;
  animation: slideUp 2s ease-in-out;
  position: relative;
  z-index: 1;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px 0;
}

.ag-courses_item {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  position: relative;
  color: white;
  text-decoration: none;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all .5s ease;
}


.ag-courses-item_title {
  font-weight: bold;
  font-size: 30px;
  color: white;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: white;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color .5s ease;
}

.section-title {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}