<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Responsive Navbar</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a routerLink="" style="display: inline-block;">
          <img src="../../../assets/Logo.png" alt="logo" style="cursor: pointer;" />
        </a>
      </div>
      <ul *ngIf="!menuOpen">
        <li>
          <a routerLink="/historique">Historique</a>
        </li>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/admin-stats">Statistiques</a>
        </li>
        <li>
          <a routerLink="/admin-support">Support</a>
        </li>
        <li>
          <a routerLink="/admin-profil">Profil</a>
        </li>
      </ul>
      <div class="hamburger" (click)="toggleMenu()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar" [ngClass]="{'active': menuOpen}">
      <ul>
        <li>
          <a routerLink="/historique"  (click)="closeMenu()">Historique</a>
        </li>
        <li>
          <a routerLink="/dashboard"  (click)="closeMenu()">Dashboard</a>
        </li>
        <li>
            <a routerLink="/admin-stats"  (click)="closeMenu()">Statistiques</a>
          </li>
        <li>
          <a routerLink="/admin-support"  (click)="closeMenu()">Support</a>
        </li>
        <li>
          <a routerLink="/admin-profil"  (click)="closeMenu()">Profil</a>
        </li>
      </ul>
    </div>
    <br><br><br><div class="stats-container">
        <h2>Statistiques des Candidats</h2>
        <div class="chart-wrapper">
          <canvas id="canvas"></canvas>
        </div>
        <p id="total-candidats" class="total-info"></p>
      </div><br><br><br>
      
  </body>
</html>
