<nav>
  <div class="logo">
    <a routerLink="/" style="display: inline-block;">
      <img src="../../../assets/Logo.png" alt="logo" style="cursor: pointer;" />
    </a>
  </div>

  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/admin-profil">Profil</a></li>
    <li><button class="deco" (click)="deconnecter()">Déconnexion</button></li>
  </ul>
</nav>

<div class="container">
  <!-- Formulaire d'ajout d'un candidat -->
  <div class="form-container">
    <h2>Inscription candidat</h2>
    <form (submit)="ajouterCandidat()">
      <input type="text" placeholder="Nom" [(ngModel)]="nouveauCandidat.nom" name="nom" required />
      <input type="text" placeholder="Prénom" [(ngModel)]="nouveauCandidat.prenom" name="prenom" required />
      <input type="text" placeholder="Ville"[(ngModel)]="nouveauCandidat.ville" name="ville" required />
      <input type="text" placeholder="Numéro de dossier" [(ngModel)]="nouveauCandidat.neph" name="neph" required />
      <input type="email" placeholder="Email" [(ngModel)]="nouveauCandidat.email" name="email" required />
      <input type="password" placeholder="Mot de passe" [(ngModel)]="nouveauCandidat.password" name="password" required />
      <label for="dateNaissance"><strong>Date de Naissance</strong></label>
      <input type="date" [(ngModel)]="nouveauCandidat.dateNaissance" name="dateNaissance" required />
      <label for="dateNaissance"><strong>Date d'Inscription</strong></label>
      <input type="date" [(ngModel)]="nouveauCandidat.dateInscription" name="dateInscription" required />
      <button type="submit">Ajouter le candidat</button>
    </form>
  </div>


<!-- Liste des candidats -->
<div class="candidats-container">
  <h2>Candidats</h2>
  
  <!-- Champ de recherche par nom -->
  <input 
    type="text" 
    placeholder="Rechercher un candidat" 
    [(ngModel)]="searchQuery" 
    (input)="filtrerCandidats()" 
    style="margin-bottom: 20px; padding: 10px; width: 100%;"
  />

  <div class="candidats-list">
    <div *ngFor="let candidat of candidatsFiltres" class="candidat-card">
      <p>{{ candidat.Nom }} {{ candidat.Prenom }}</p>
      <p>{{ candidat.Email }}</p>
      
      <!-- Bouton pour supprimer le candidat -->
      <button type="button" (click)="supprimerCandidat(candidat.id_user)">Supprimer</button>
    </div>
  </div>

  <!-- Affichage du nombre total de candidats filtrés -->
  <p class="total-candidats">Total : {{ candidatsFiltres.length || 0 }} candidats</p>
</div>
