<nav>
  <div class="logo">
    <a routerLink="/" style="display: inline-block;">
      <img src="../../../assets/Logo.png" alt="logo" style="cursor: pointer;" />
    </a>
  </div>

  <ul>
    <li><a routerLink="/historique">Historique</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/stats">Statistiques</a></li>
    <li><a routerLink="/support">Support</a></li>
    <li><a routerLink="/profil">Profil</a></li>
  </ul>
</nav>

<div class="container">
  <!-- Formulaire d'ajout d'un candidat -->
  <div class="form-container">
    <h2>Inscription candidat</h2>
    <form (submit)="ajouterCandidat()">
      <input type="text" placeholder="Nom" [(ngModel)]="nouveauCandidat.nom" name="nom" required />
      <input type="text" placeholder="Prénom" [(ngModel)]="nouveauCandidat.prenom" name="prenom" required />
      <input type="date" [(ngModel)]="nouveauCandidat.dateNaissance" name="dateNaissance" required />
      <input type="text" [(ngModel)]="nouveauCandidat.ville" name="ville" required />
      <input type="date" [(ngModel)]="nouveauCandidat.dateInscription" name="dateInscription" required />
      <input type="text" placeholder="Numéro de dossier" [(ngModel)]="nouveauCandidat.neph" name="neph" required />
      <input type="email" placeholder="Email" [(ngModel)]="nouveauCandidat.email" name="email" required />
      <input type="password" placeholder="Mot de passe" [(ngModel)]="nouveauCandidat.password" name="password" required />
      <button type="submit">Ajouter le candidat</button>
    </form>
  </div>

  <!-- Liste des candidats -->
  <div class="candidats-container">
    <h2>Candidats</h2>
    <input type="text" placeholder="Rechercher un candidat" [(ngModel)]="searchQuery" (input)="filtrerCandidats()" />

    <div class="candidats-list">
      <div *ngFor="let candidat of candidatsFiltres" class="candidat-card">
        <p>{{ candidat.Nom }} {{ candidat.Prenom }}</p>
        <p>{{ candidat.Email }}</p>
      </div>
    </div>
    

    <p class="total-candidats">Total : {{ candidats?.length || 0 }} candidats</p>
  </div>
</div>
