<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.component.css">
    <title>Connexion</title>
</head>
<body>

    <div class="login-page">
        <div class="login-info">
            <h2>Bienvenue sur votre espace personnel !</h2><br><br>
            <p>Vous êtes sur la plateforme dédiée à la consultation de vos résultats et statistiques de tests. 
            Connectez-vous pour suivre votre progression, analyser vos performances et vous préparer au mieux pour votre examen.</p><br>
            <p><strong>La clé de la réussite, c'est la persévérance.</strong> Analyse tes résultats et progresse chaque jour !</p><br>
        </div>
        <div class="login-container">
            <h2>Connexion</h2>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" [(ngModel)]="loginData.prenom" required>                
                
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
                
                <a href="#" class="forgot-password">Mot de passe oublié ?</a>
                <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
            </form>
        </div>
    </div><br><br><br><br><br><br>
    <div class="video-container">
        <video autoplay loop muted>
            <source src="../../../assets/3D.mp4" type="video/mp4">
        </video>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
