<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Contact</title>
</head>
<body>

    <!-- Formulaire de Contact -->
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <h1 class="title text-center mb-4">Contactez-nous</h1>

        <!-- Name -->
        <div class="form-group position-relative">
            <label for="formName" class="d-block">
                <i class="icon" data-feather="user"></i>
            </label>
            <input type="text" id="formName" class="form-control form-control-lg thick" placeholder="Prénom Nom" [(ngModel)]="formData.name" name="name" required>
        </div>

        <!-- Objet (remplaçant le champ E-mail) -->
        <br>
        <div class="form-group position-relative">
            <label for="formObject" class="d-block">
                <i class="icon" data-feather="message-circle"></i>
            </label>
            <select id="formObject" class="form-control form-control-lg thick" [(ngModel)]="formData.object" name="object" required>
                <option value="" disabled selected>Choisissez l'objet de votre message</option>
                <option value="demande_informations">Demande d'informations</option>
                <option value="problème_technique">Problème technique</option>
                <option value="suggestion">Suggestion</option>
                <option value="reclamation">Réclamation</option>
                <option value="autre">Autre</option>
            </select>
        </div>

        <!-- Message -->
        <br>
        <div class="form-group message">
            <textarea id="formMessage" class="form-control form-control-lg" rows="7" placeholder="Message" [(ngModel)]="formData.message" name="message" required></textarea>
        </div>

        <!-- Submit btn -->
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Envoyer le message</button>
        </div>
    </form>

</body>
</html>
