<br><br><div class="faq_3" unique-script-id="w-w-dm-id">
    <div class="responsive-container-block container">
      <div class="responsive-container-block faqheading-bg">
        <!-- Rubrique rouge -->
        <div class="heading-content">
          <p class="text-blk faq-heading">
            Comment pouvous nous vous aider ? <!-- Introduction Titre-->
          </p><br><br>
          <!-- Search Bar -->
          <form class="form-box" id="i91f"> 
            <div class="input-box">
              <input class="input" placeholder="Tapez votre question ici">
              <span class="search-btn">
                <img class="search-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Search.svg"> <!-- Flèche Logo -->
              </span>
            </div>
          </form>
          <!-- Fin Search Bar -->
        </div>
      </div>
      <!-- Fin Rubrique rouge -->
      <!-- Rubrique questions -->
      <div class="responsive-container-block dropdown-container-wrapper">
        <div class="responsive-container-block dropdown-container">
          <p class="text-blk faq-head2">
            Questions fréquentes
          </p>
          <div class="container-block">
            <!-- Question 1 -->
            <div class="faq">
              <span class="faq-question-container">
                <p class="text-blk faq-questions">
                    Je ne suis pas satisfait du moniteur, que puis-je faire ?
                </p>
                <img class="openimg image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg"> <!-- Flèche Logo -->
              </span>
            <!-- Réponse 1 -->
              <div class="answer-box">
                <p class="text-blk faq-answer">
                    Parfois, les relations avec le moniteur d’auto-école ne se passent pas comme prévu. Vous avez du mal à trouver des heures de conduite,
                     le moniteur vous stresse … autant de raisons qui freinent l’apprentissage de la conduite dans de bonnes conditions.<br><br>
                    Dans un premier temps, exposez votre problème à l’auto-école en lui demandant de trouver une solution au problème que vous rencontrez.Réponse question   </p>
              </div>
            </div>
            <!-- Question 2 -->
            <div class="faq">
              <span class="faq-question-container">
                <p class="text-blk faq-questions">
                    Quels sont les documents demandés pour l'inscription ?
                </p>
                <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg"><!-- Flèche Logo -->
              </span>
              <!-- Réponse 2 -->
              <div class="answer-box">
                <p class="text-blk faq-answer">
                    Les documents peuvent varier selon les auto-écoles,  voici la liste des documents que votre auto-école vous demandera pour ouvrir un dossier :<br><br>
                    - 1 photocopie de la carte nationale d’identité recto-verso<br>
                    - 2 photos d’identité pour le permis <br>
                    - 2 enveloppes timbrées avec vos nom et adresse <br>
                    - 1 photocopie de l’attestation de recensement<br>
                    - 1 photocopie du certificat de participation à la journée défense et citoyenneté<br>
                    - 1 photocopie de l’ASSR2 ou de l’ASR                </p>
              </div>
            </div>
            <!-- Question 3 -->
            <div class="faq">
              <span class="faq-question-container">
                <p class="text-blk faq-questions">
                    A quel âge peut-on se présenter à l’examen du code ?
                </p>
                <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg"> <!-- Flèche Logo -->
              </span>
              <!-- Réponse 3 -->
              <div class="answer-box">
                <p class="text-blk faq-answer">
                    La présentation à l’examen est possible pour les personnes âgées de 15 ans.                </p>
              </div>
            </div>
            <!-- Question 4 -->
            <div class="faq">
              <span class="faq-question-container">
                <p class="text-blk faq-questions">
                    Quelles sont les erreurs éliminatoires au permis de conduire ?
                </p>
                <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg"> <!-- Flèche Logo -->
              </span>
              <!-- Réponse 4 -->
              <div class="answer-box">
                <p class="text-blk faq-answer">
                    L'examen du permis de conduire est noté sur 30 points. Le candidat doit obtenir un minimum de 20 points et ne pas avoir commis d'erreurs éliminatoires. 
                    Une faute est dite élimanatoire si elle met directement en danger les usagers de la route.                </p>
              </div>
            </div>
            <!-- Question 5 -->
            <div class="faq">
              <span class="faq-question-container">
                <p class="text-blk faq-questions">
                    Peut-on faire des heures de conduite et le code en même temps ?                </p>
                <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg"> <!-- Flèche Logo -->
              </span>
              <!-- Réponse 5 -->
              <div class="answer-box">
                <p class="text-blk faq-answer">
                    Oui, il est tout à fait possible de commencer les leçons de conduite en même temps que l'apprentissage du code de la route.                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>