<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
</head>
<body>
    <canvas id="graph1" width="250px" height="100px"></canvas>
    <script src="./chart.js"></script>
</body>
<br><br><br><br><br><br><br><br><link rel="stylesheet" type="text/css" target="_blank" href="./historique.component.css" />
<div class="historique-container">
    <h1>Historique des Tests</h1>
    <div class="stats">
      <p><strong>Taux de réussite :</strong> {{ statistiques.tauxReussite }}%</p>
      <p><strong>Tests passés :</strong> {{ statistiques.testsPasses }}</p>
      <p><strong>Score moyen :</strong> 
        <span [ngClass]="{'highlight': statistiques.scoreMoyen < 25}">
          {{ statistiques.scoreMoyen }}/40
        </span>
      </p>
    </div>
    
    <h2>Derniers tests effectués</h2>
    <ul>
      <li *ngFor="let test of testsRecents">
        📅 Test du {{ test.date }} : {{ test.score }}/40
      </li>
    </ul>
  </div>
  