<footer>
  <div class="footer-container">
      <div class="footer-section">
          <h4>Informations légales</h4>
          <ul>
              <li><a href="#">Mentions légales</a></li>
              <li><a href="#">Politique de confidentialité</a></li>
              <li><a href="#">Politique de cookies</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h4>Aide & Contact</h4>
          <ul>
              <li><a routerLink="/contact">Contact Auto-École</a></li>
              <li><a href="#">FAQ Auto-École</a></li>
              <li><a href="#">Nous contacter</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h4>À propos</h4>
          <ul>
              <li><a href="#">Qui sommes-nous ?</a></li>
              <li><a routerLink="/avis">Avis</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h4>Suivez-nous sur les réseaux sociaux</h4>
          <div class="social-icons">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-tiktok"></i></a>
          </div>
      </div>
  </div>
</footer>